
<p id="notice"><%= notice %></p>



<table table class="table table-striped">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Image</th>
      <th colspan="3"> Interested ?</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>

        <td class="price">$ <%= '%.2f' %  item.price %></td>
        <td><%= item.category %></td>
        <td>
          <img class="card-img-top">
          <!--add form tag for image - NOT WORKING-->
        </td>
        <td>
          <div id="contact" >
            <a class="button" href="contact/email">I'm interested</a>
            <!--<a href="contact/email">I'm interested</a>-->
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'New Item', new_item_path %>
<br>

<%= link_to "logout", destroy_user_session_path, method: :delete %>
